<!DOCTYPE HTML>
<html>
<head>
<title>404 error page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<div class="wrap">
		<div class="content">
			<div class="logo">
				<h1><img src="/static/imgs/logo.png"/></h1>
				<span><img src="/static/imgs/signal.png"/>Oops! 您请求的页面不存在!</span>
			</div>
			<div class="buttom">
				<div class="seach_bar">
					<p>返回首页？</p>
					<div class="container-fluid">
						<a href="/"><font color="yellow">确定</font></a>&nbsp
					</div>
				</div>
			</div>
		</div>
</body>
</html>