<!DOCTYPE html>
<html>
<head lang="en">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css">
	<link href="/static/codemirror/codemirror.css" rel="stylesheet">
	<link href="/static/codemirror/monokai.css" rel="stylesheet">
	<script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/bower_components/bootstrap-table/dist/bootstrap-table.js"></script>
	<script src="/static/bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
	<script src="/static/bower_components/bootstrap-table/dist/bootstrap-table-export.js"></script>
	<script src="/static/bower_components/bootstrap-table/dist/jquery.base64.js"></script>
	<script src="/static/bower_components/bootstrap-table/dist/tableExport.js"></script>
	<script src="/static/codemirror/codemirror.js"></script>
	<script src="/static/codemirror/python.js"></script>
  	<script src="/static/js/common.js"></script>
  	<script src="/static/js/layer.js"></script>
</head>
<body style="overflow-x: hidden;">
<h4>已有动作流列表：</h4>
<div style="padding:20px">
	{% if actionflows%}
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
		{% set index = 0 %}
		{% for flow in actionflows %}
			{% set index = index + 1 %}
			<div class="panel" id="flow_panel_{{ flow.id }}">
				<div class="panel-heading" role="tab" id="heading_{{ flow.id }}">
					<h4 class="panel-title">
						<table style="width:100%">
							<tr>
								<td style="width:10%">{{ index }}</td>
								<td style="width:50%">
									<a role="button" class="showflow" id="{{ flow.id }}" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{flow.id}}" aria-expanded="false" aria-controls="collapseOne">{{ flow.name }}</a></td>
								<td style="width:40%;text-align: center">
									<a href="javascript:;" id="delflow_{{ flow.id }}" class="btn btn-danger delflow">删除</a>
								</td>
							</tr>
						</table>
					</h4>
				</div>
				<div id="collapse_{{ flow.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{flow.id}}">
					<div class="panel-body">
						<div>
							<form id="flow_{{flow.id}}">
								<div class="row" style="padding:10px">
									<div style="float:left"><label>用例名称：</label></div>
									<div style="float:left;margin-left:5px"><input name="name" type="text" class="form-control" style="width:300px" value="{{ flow.name }}" required /></div>
									<div style="float:left;margin-left:30px"><a href="javascript:;" onclick="saveedit({{flow.id}})" class="btn btn-success">保存</a></div>
								</div>
								<textarea id="flowcontent_{{ flow.id }}" name="actions" width="1000px" height="400px">{{ flow.actions|join("\r\n") }}</textarea>
								<script>
									var mirror_{{ flow.id }} = CodeMirror.fromTextArea(document.getElementById("flowcontent_{{ flow.id }}"), {
										lineNumbers: true,
										mode: "python",
										theme: "monokai"
									});
									mirror_{{ flow.id }}.setSize('100%',200);
								</script>
							</form>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	{% else %}
		还没有添加动作流
	{% endif %}
</div>

<h4>新增动作流：</h4>
<div style="padding:20px">
	<form id="actionflowform">
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon2">动作流名称</span>
			<input type="text" id="flowname" name="name" class="form-control" placeholder="name" aria-describedby="sizing-addon2">
		</div>
		<div style="margin-top:10px">
			<textarea id="actionflowsarea" name="actions"></textarea>
			<script>
				var flowcode = CodeMirror.fromTextArea(document.getElementById("actionflowsarea"), {
					lineNumbers: true,
					mode: "python",
					theme: "monokai"
				});
				flowcode.setSize('100%',200);
			</script>
		</div>
	</form>
	<div id="addactionbtn" style="margin-top:5px"><button class="form-control btn btn-primary">新增动作流</button></div>
</div>
<script>
	$(function(){

		{% for message in get_flashed_messages() %}
			parent.parent.layer.msg("{{ message }}")
		{% endfor %}

		$("#addactionbtn").click(function(){
			parent.window.scrollTo(0,0);
			name = $("#flowname").val()
			content = flowcode.getDoc().getValue()
			if(name && content){
				parent.parent.layer.load(2);
				$("#actionflowsarea").val(content)
				$.ajax({
					url:"/newactionflow",
					type:"post",
					async:true,
					data:$("#actionflowform").serialize(),
					error:function(request){
						layer.closeAll('loading');
						parent.parent.layer.msg(request.status)
					},
					success:function(data){
						parent.parent.layer.closeAll('loading');
						if(data.result){
							parent.parent.layer.msg("新增成功");
							window.location.reload(true);
						}else{
							parent.parent.layer.msg("新增失败:"+data.errorMsg)
						}
					}
				})
			}else{
				parent.parent.layer.msg("名称/动作内容不能为空")
			}
		})

		$(".showflow").click(function(){
			mirror = eval("mirror_"+this.id)
			setTimeout(function(){
				mirror.refresh();
			},200);
			mirror.refresh();
		})

		$(".delflow").click(function(){
			var id = this.id.substring(8,this.id.length)
			parent.parent.layer.confirm("确定删除吗？",{btn:['确定','取消']},function(){
				$.get("/delflow/"+id,function(data){
					if(data.result){
						parent.parent.layer.msg('删除成功', {icon: 6})
						$("#flow_panel_"+id).remove();
					}else{
						parent.parent.layer.msg('删除失败:'+data.errorMsg, {icon: 5})
					}
				})
				
			},function(){
				console.log('取消')
			})
		})
	})

	function saveedit(id){
		mirror = eval("mirror_"+id);
		$("#flowcontent_"+id).val(mirror.getDoc().getValue());
		$.ajax({
			url:"/editflow/"+id,
			type:"post",
			data:$("#flow_"+id).serialize(),
			success:function(data){
				if(data.result){
					parent.parent.layer.msg("保存成功")
				}else{
					parent.parent.layer.msg("保存失败:"+data.errorMsg,{icon: 5})
				}
			}
		})
	}
</script>
</body>
</html>