<!DOCTYPE html>
<html>
<head lang="en">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/layer.js"></script>
</head>
<body>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
{% for api in apis %}
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading_{{ api[0] }}">
			<h4 class="panel-title">
				<a role="button" id="{{ api[0] }}" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ api[0] }}" aria-expanded="false" aria-controls="collapseOne">{{ api[0] }}</a>
			</h4>
		</div>
		<div id="collapse_{{ api[0] }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ api[0] }}">
			<div class="panel-body">
				<label>{{ api[1]|safe }}</label>
			</div>
		</div>
	</div>
{% endfor %}
</div>
</body>
</html>