<!DOCTYPE html>
<html>
<head lang="en">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/layer.js"></script>
	<style>
		.panel-body{
			background-color:black;
			font-family: '宋体';
			color:#f50;
			font-size: 16px;
		}
	</style>
</head>
<body>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% for api in selfapis+driverapis %}
	<div class="panel panel-danger">
		<div class="panel-heading" role="tab" id="heading_{{ api[0] }}">
			<h4 class="panel-title">
				<a role="button" id="{{ api[0] }}" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseOne">{{ api[0] }}</a>
			</h4>
		</div>
		<div id="collapse_{{ api[0] }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_{{ api[0] }}">
			<div class="panel-body">
				{{ api[1]|safe }}
			</div>
		</div>
	</div>
{% endfor %}
</div>
</body>
</html>