<!DOCTYPE html>
<html>
<head lang="en">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css">
	<script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/bower_components/bootstrap-table/dist/bootstrap-table.js"></script>
	<script src="/static/bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
	<script src="/static/bower_components/bootstrap-table/dist/bootstrap-table-export.js"></script>
	<script src="/static/bower_components/bootstrap-table/dist/jquery.base64.js"></script>
	<script src="/static/bower_components/bootstrap-table/dist/tableExport.js"></script>
  	<script src="/static/js/common.js"></script>
  	<script src="/static/js/layer.js"></script>
</head>
<body style="overflow-x: hidden;">
<div>
	<div class="row">
			<form id="newconflictdataform">
				<div style="float:left;margin-left:20px"><input id="newname" type="text" name="name" class="form-control" placeholder="name"  /></div>
				<div style="float:left;margin-left:10px"><input id="newvalue" type="text" name="value" class="form-control" placeholder="value" /></div>
			</form>
			<div style="float:left;margin-left:10px"><button id="newbtn" class="btn btn-default">添加互斥数据</button></div>
			<div style="float:left;margin-left:10px">
				<form id="importform" method="post" action="/import/conflictdata" enctype="multipart/form-data">
					<a href="javascript:;" class="btn btn-default" id="importbtn"><span class="glyphicon glyphicon-import"></span></a>
					<input type="file" id="importipt" name="conflictdatafile" onChange="$('#importform').submit()" style="display:none"/>
				</form>
			</div>
	</div>
	<div style="margin-top:10px">
		<table id="table">
		</table>
	</div>
</div>

<script>
	$(function(){

		{% for message in get_flashed_messages() %}
			parent.layer.msg("{{message}}")
		{% endfor %}

		$("#importbtn").click(function(){
			$("#importipt").click()
		})

		$("#newbtn").click(function(){
			if($("#newname").val() && $("#newvalue").val()){
				$.ajax({
					url:"/conflictdatas",
					type:"post",
					data:$("#newconflictdataform").serialize(),
					error:function(request){
						parent.parent.layer.msg(request.status)
					},
					success:function(data){
						window.location.reload(true)
						parent.parent.layer.msg(data)
					}
				})
			}else{
				parent.parent.layer.msg("name/value 不允许为空")
			}
		})
	})

	function saveeditconflictdata(id) {
		name = $("#name_"+id).val()
		value = $("#value_"+id).val()
		if(value){
			$.ajax({
				url:"/saveeditconflictdata/"+id,
				data:{"name":name,"value":value},
				type:"get",
				async:true,
				error:function(request){
					parent.parent.layer.msg(request.status)
				},
				success:function(data){
					parent.parent.layer.msg(data)
				}
			})
		}else{
			parent.parent.layer.msg("name/value 不允许为空")
		}

	}

	function delconflictdata(id) {
		parent.parent.layer.confirm('真的需要删除吗？',{
			btn:['确定','取消']
		},function(){
			$.ajax({
				url:"/delconflictdata/"+id,
				type:"get",
				async:true,
				error:function(request){
					parent.parent.layer.msg(request.status)
				},
				success:function(data){
					window.location.reload(true)
					parent.parent.layer.msg(data);
				}
			})
		},function(){
			console.log("取消")
		})
	}

	$("#table").empty().bootstrapTable({
		method: 'get',
		cache: false,
		striped: true,
		pagination: true,
		pageNumber: 1,
		pageSize: 10,
		search: true,
		showColumns: true,
		showRefresh: true,
		showExport: true,
		exportTypes: ['json'],
		search: true,
		clickToSelect: true,
		columns: [{
			field: 'id',
			width: '8%',
			align: 'center',
			title: 'TestdataID'
		 }, {
			field: 'name',
			width: '15%',
			title: 'TestdataName'
		}, {
			field: 'value',
			width: '37%',
			title: 'TestdataValue'
		},{
			field: 'operate',
			width: '20%',
			title: 'Operate'
		}
		],
		url: "/conflictdata" 
	});

</script>
</body>
</html>