<!DOCTYPE html>
<html>
<head lang="en">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  	<script src="/static/jquery/jquery.min.js"></script>
  	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/index.js"></script>
  	<script src="/static/js/common.js"></script>
  	<script src="/static/js/layer.js"></script>
  	<style>
  		.deviceinfo {
  			disabled:disabled;
  		}
		.elem{
			margin-bottom: 10px;
		}
		.devices{
			border:1px solid #D9D9D9;
			border-radius:5px;
			padding:15px;
		}
  	</style>
</head>
<body>
	<div id="devicelist" class="col-lg-12">
		{% for device in devices %}
			<div class="col-lg-3 col-md-4 col-sm-2" id="devicediv_{{ device.id }}" style="margin-bottom:10px">
				<div class="devices">
					<div style="text-align:center;margin-bottom:15px"><img src="static/imgs/phone.png" alt="phone"></div>

					<table class="table table-bordered table-striped" id="deviceinfotable">
						<tbody>
							<tr>
								<th>手机型号:</th>
								<td><input class="deviceinfo_{{ device.id }}" name="phoneModel" type="text" value="{{ device.phoneModel }}" disabled="disabled"></td>
							</tr>
							<tr>
								<th>系统平台:</th>
								<td><input class="deviceinfo_{{ device.id }}" name="platform" type="text" value="{{ device.platform }}" disabled="disabled"></td>
							</tr>
							<tr>
								<th>系统版本:</th>
								<td><input class="deviceinfo_{{ device.id }}" name="platformVersion" type="text" value="{{ device.platformVersion }}" disabled="disabled"></td>
							</tr>
							<tr>
								<th>设备序号:</th>
								<td><input class="deviceinfo_{{ device.id }}" name="deviceName" type="text" value="{{ device.deviceName }}" disabled="disabled"></td>
							</tr>
							<tr>
								<th>状态:</th>
								<td id="status_{{device.id}}">{% if device.status == 0%}<font color="green">连接正常</font>{%else%}<font color="red">连接异常</font>{% endif %}</td>
							</tr>
						</tbody>
					</table>
						<a href="javascript:;" class="btn btn-info editdevice" id="editdevice_{{ device.id }}">编辑</a>
						<a href="javascript:;" class="btn btn-info saveedit" id="saveedit_{{ device.id }}" style="display:none">保存</a>
						<a href="javascript:;" class="btn btn-warning deldevice" id="deldevice_{{ device.id }}">删除</a>
				</div>
			</div>
		{% endfor %}
	</div>
	<hr>
	<div>
		<form action="/newdevice" method="post">
			<div class="input-group elem">
				<span class="input-group-addon" id="basic-addon1"><strong>手机型号:</strong></span>
				<input name="phoneModel" type="text" class="form-control" required/>
			</div>
			<!--<div class="input-group elem">-->
				<!--<span class="input-group-addon" id="basic-addon1"><strong>生产厂商:</strong></span>-->
				<!--<input name="manufacturer" type="text" class="form-control" required/>-->
			<!--</div>-->
			<div class="input-group elem">
				<span class="input-group-addon" id="basic-addon1"><strong>系统平台:</strong></span>
				<select name="platform" type="text" class="form-control" required>
					<option>Android</option>
<!-- 					<option>IOS</option> -->
				</select>
			</div>
			<div class="input-group elem">
				<span class="input-group-addon" id="basic-addon1"><strong>系统版本:</strong></span>
				<select name="platformVersion" type="text" class="form-control" required>
					<option>6.0</option>
					<option>5.1</option>
					<option>5.0</option>
					<option>4.4</option>
					<option>4.3</option>
					<option>4.2</option>
					<option>4.1</option>
					<option>4.0</option>
				</select>
			</div>
			<div class="input-group elem">
				<span class="input-group-addon" id="basic-addon1"><strong>设备序号:</strong></span>
				<input name="deviceName" type="text" class="form-control" required/>
			</div>
	<!-- 		<label>分辨率:</label>
			<input name="resolution" type="text" class="form-control" /> -->
			<div style="text-align:center">
				<ul class="list-inline">
					<li><button class="btn btn-primary" type="submit">添加</button></li>
					<li><a href="javascript:;" onclick="viewdeviceinfo()">查看已连接手机信息</a></li>
				</ul>
			</div>

		</form>
	</div>
	<hr>
<script>
	$(function(){
		interval = setInterval("resizeFrame()",50)

		getDeviceStatus()

		{% for message in get_flashed_messages() %}
			{% if message.result %}
				parent.layer.msg("添加成功")
				currentCount = parseInt($(window.parent.document.getElementById('devicecount')).html());
				$(window.parent.document.getElementById('devicecount')).html(currentCount+1);
			{% else %}
				parent.layer.msg("添加失败：{{ message.errorMsg }}")
			{% endif %}
		{% endfor %}

		layer.config({
			extend: 'extend/layer.ext.js'
		});

		$(".editdevice").click(function(){
			var id = this.id.substring(11,this.id.length)
			$(this).hide()
			$("#saveedit_"+id).show()
			$(".deviceinfo_"+id).removeAttr("disabled")
		})

		$(".saveedit").click(function(){
			var id = this.id.substring(9,this.id.length)
			var values = "?id="+ id + "&";
			$(".deviceinfo_"+id).each(function(){
				values += $(this).attr("name") + "=" + $(this).val() + "&"
			})
			values = values.substring(0,values.length-1)
			$.get("/editdevice"+values,function(data){
				if(data.result){
					parent.layer.msg('保存成功', {icon: 1})
				}else{
					parent.layer.msg('失败:'+data.info, {icon: 2})
				}
			})
			$(this).hide()
			$("#editdevice_"+id).show()
			$(".deviceinfo_"+id).attr("disabled","disabled")
		})

		$(".deldevice").click(function(){
			var id = this.id.substring(10,this.id.length)
			parent.layer.confirm("确定删除吗？",{btn:['确定','取消']},function(){
				$.get("/deldevice/"+id,function(data){
					if(data.result){
						parent.layer.msg('删除成功', {icon: 6})
						currentCount = parseInt($(window.parent.document.getElementById('devicecount')).html());
						$(window.parent.document.getElementById('devicecount')).html(currentCount-1);
						$("#devicediv_"+id).remove()
					}else{
						parent.layer.msg('失败:'+data.info, {icon: 5})
					}
				})
				
			},function(){
				console.log('取消')
			})
		})
	})

	function getDeviceStatus(){
		var source = new EventSource("/getDeviceStatus");
		source.onmessage = function(event){
			var resp = JSON.parse(event.data);
			for(var o in resp){
				if(resp[o] != 0){
					console.log(o+":连接不可用")
					$("#status_"+o).html("<font color='red'>连接异常</font>")
				}else{
					console.log(o+":连接可用")
					$("#status_"+o).html("<font color='green'>连接正常</font>")
				}
			}
		}
	}
</script>
</body>
</html>