<!DOCTYPE html>
<html>
<head lang="en">
{% block head %}
  <meta charset="UTF-8">
  <link type="image/x-icon" rel="shortcut icon" href="/static/imgs/favicon.ico" />
  <title>wenba测试
  {% block title %}
  {% endblock %}
  </title>
  {% block csss %}
  	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  	<link rel="stylesheet" href="/static/css/index.css">
  {% endblock %}
  {% block scripts %}
  	<script src="/static/jquery/jquery.min.js"></script>
  	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
  	<script src="/static/js/index.js"></script>
  	<script src="/static/js/layer.js"></script>
  {% endblock %}
{% endblock %}
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
				<span><a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"> 首页</span></a></span>
				<span><ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						</ul>
					</li>
				</ul></span>
		</div><!-- /.container-fluid -->
	</nav>
<div class="container-fluid" id="navigation">
	<div class="row">
		<div class="col-md-2">
			<!-- <div style="height:150px"></div> -->
			<ul id="main-nav" class="nav nav-tabs nav-stacked">
				<li class="active">
					<a href="javascript:;"><i class="glyphicon glyphicon-th-large"></i> 导航栏</a>
				</li>
				<li>
					<a href="#jobmanage" class="collapsed" data-toggle="collapse"><i class="glyphicon glyphicon-credit-card"></i> 任务管理</a>
					<ul id="jobmanage" class="nav nav-list collapse secondmenu" style="height: 0px;">
						<li><a href="javascript:;" class="nav_item" id="nav_newjob"><i class="glyphicon glyphicon-plus"></i> 新增任务</a></li>
						<li><a href="javascript:;" class="nav_item" id="nav_alljob"><i class="glyphicon glyphicon-th-list"></i> 历史任务</a></li>
					</ul>
				</li>
				<li>
					<a href="#devicemanage" class="collapsed" data-toggle="collapse"><i class="glyphicon glyphicon-modal-window"></i> 设备管理
						<span class="label label-warning pull-right">{{ deviceCount }}</span>
					</a>
					<ul id="devicemanage" class="nav nav-list collapse secondmenu" style="height: 0px;">
						<li><a href="javascript:;" class="nav_item" id="nav_newdevice"><i class="glyphicon glyphicon-plus"></i> 添加设备</a></li>
						<li><a href="javascript:;" class="nav_item" id="nav_alldevice"><i class="glyphicon glyphicon-th-list"></i> 所有设备</a></li>
					</ul>
				</li>
				<li>
					<a href="#casemanage" class="collapsed" data-toggle="collapse"><i class="glyphicon glyphicon-list-alt"></i> 用例管理
						<span class="label label-warning pull-right">{{ testcaseCount }}</span>
					</a>
					<ul id="casemanage" class="nav nav-list collapse secondmenu" style="height: 0px;">
						<li><a href="javascript:;" class="nav_item" id="nav_newcase"><i class="glyphicon glyphicon-plus"></i> 添加用例</a></li>
						<li><a href="javascript:;" class="nav_item" id="nav_allcase"><i class="glyphicon glyphicon-th-list"></i> 所有用例</a></li>
					</ul>
				</li>
				<li>
					<a href="#datamanage" class="collapsed" data-toggle="collapse"><i class="glyphicon glyphicon-list-alt"></i> 测试数据管理
					</a>
					<ul id="datamanage" class="nav nav-list collapse secondmenu" style="height: 0px;">
						<li><a href="javascript:;" class="nav_item" id="nav_normaldata"><i class="
glyphicon glyphicon-th-list"></i> 通用测试数据</a></li>
						<li><a href="javascript:;" class="nav_item" id="nav_conflictdata"><i class="glyphicon glyphicon-th-list"></i> 互斥测试数据</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-md-10">
			<div style="height:auto;width:100%">
				<div>
						{% for message in get_flashed_messages() %}
							{% if message.type == 'error' %}
								<div class="alert alert-danger alert-dismissible fade in" role="alert">
							{% else %}
								<div class="alert alert-success alert-dismissible fade in" role="alert">
							{% endif %}
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
									<h5>
										{{ message.message }}
									</h5>
								</div>
						{% endfor %}
								</div>
				<iframe src="/jobs" id="content_detail" frameborder="no" name="content_detail" align="center" width="100%" height="100%" scrolling="no"></iframe>
			</div>
		</div>
	</div>
</div>
</body>
<script>

</script>
</html>

