<!DOCTYPE html>
<html>
<head lang="en">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/layer.js"></script>
</head>
<body>
<table class="table">
	<thread>
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>Type</th>
			<th>RelateCase</th>
			<th>RelateDevice</th>
			<th>Status</th>
			<th>CreatedTime</th>
			<th>Operation</th>
		</tr>
	</thread>
	<tbody>
	{% for job in jobs %}
		<tr>
			<th>{{ job.id }}</th>
			<th>{{ job.jobName }}</th>
			<th>{{ job.jobType }}</th>
			<th>{{ job.relateCases }}</th>
			<th>{{ job.relateDevices }}</th>
			<th>{{ job.status }}</th>
			<th>{{ job.createdtime }}</th>
			<th>
				<div class="btn-group">
					<button type="button" id="{{ job.id }}" class="btn btn-primary runbtn">运行</button>
					<a id="viewreport_{{ job.id }}" name="{{ job.id }}" class="btn btn-info viewreport" style="display:none">查看报告</a>
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">编辑</a></li>
						<li><a href="#">删除</a></li>
					</ul>
				</div>
			</th> 
		</tr>
	{% endfor %}
	</tbody>
</table>
<script>
	$(function(){
		
		checkStatus(0)

		$(".runbtn").click(function(){
			var jobid = this.id
			$(this).html("正在运行..").attr("disabled","disabled")
			$(".runbtn").attr("disabled","disabled")
			$.ajax({
				url:"/runjob/"+jobid,
				type:"post",
				async:true,
				error:function(request){
					parent.layer.msg(request.status)
					$(this).html("运行").removeAttr("disabled")
					$(".runbtn").removeAttr("disabled")
				},
				success:function(data){
					if(!data.result){
						parent.layer.msg(data.info)
					}else{
						parent.layer.msg("任务正在运行")
						console.log(jobid)
						checkStatus(jobid)
					}
				}
			})
		})

		$(".viewreport").click(function(){
			parent.viewreport($(this).attr("name"));
		})
	})

	function checkStatus(id){
		var jobid = id
		var interval = window.setInterval(function(){
			$.get("/getStatus/"+jobid,function(data){
				if(data){
					jobid = data.jobid
					if(data.status == 1){
						parent.layer.msg("running")
					}else if(data.status == 2){
						parent.layer.msg("finished")
						window.clearInterval(interval)
						$(".runbtn").removeAttr("disabled")
						$("#"+id).hide()
						$("#viewreport_"+id).show()
					}
				}else{
					console.log("no job running")
					window.clearInterval(interval)
				}
			})
		},3000);
	}



</script>

</body>
</html>