<!DOCTYPE html>
<html>
<head lang="en">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css"/>
	<script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-multiselect.js"></script>
	<script src="/static/js/Sortable.js"></script>
	<script src="/static/js/common.js"></script>
	<script src="/static/js/layer.js"></script>
	<style>
		.list-group-item{
			height:150px;
			width:180px;
		}
		.testtype {
			width:auto;
			margin-left:10px;
		}
		.choiceditem{
			border:1px solid green;
			border-radius:5px;
		}

		.list-group-item:hover{
			cursor:pointer;
		}

		#deviceitem:hover{
			cursor:pointer;
		}

		.center{
			text-align:center;
		}

	</style>
</head>
<body>
<ul id="headtab" class="nav nav-tabs">
	<li>
		<a href="#newjobdiv" onclick="choiced('newjobdiv')" data-toggle="tab">新增测试任务</a>
	</li>
	<li class="active">
		<a href="#jobdiv" onclick="choiced('jobdiv')" data-toggle="tab">历史测试任务</a>
	</li>
</ul>

<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade" id="newjobdiv">
		<div class="panel-body">
			<form action="/newjob" id="newjobform" method="post" enctype="multipart/form-data">
				<div style="padding:10px">
					<div id="uploadapk_head" class="panel panel-default">
						<div class="panel-heading">
							一、上传APK文件
						</div>
					</div>
					<input type="file" name="file" id="upload_apk" accept="apk" class="form-control" required />
				</div>

				<div style="padding:10px">
					<div class="panel panel-default">
						<div class="panel-heading">
							二、任务名称
						</div>
					</div>
					<input type="text" name="jobName" class="form-control" value="APP自动化测试_{{ timenow }}" required/>
				</div>
				<div style="padding:10px">
					<div id="testtype_head" class="panel panel-default">
						<div class="panel-heading">
							三、选择测试类型
						</div>
					</div>
					<label id="compatibility" class="testtype">
						<li class="list-group-item">
							<input type="radio" name="testType" value="1" style="align:left"><br>
							兼容性测试
							<ul>
								<li>安装</li>
								<li>卸载</li>
								<li>调起</li>
							</ul>
						</li>
					</label>
					<label id="stabilization" class="testtype">
						<li class="list-group-item">
							<input type="radio" name="testType" value="2" style="align:left"><br>
							稳定性测试
							<ul>
								<li>安装</li>
								<li>卸载</li>
								<li>monkey测试</li>
							</ul>
						</li>
					</label>
					<label id="functional" class="testtype">
						<li class="list-group-item">
							<input type="radio" name="testType" value="3" style="align:left"><br>
							功能性测试
							<ul>
								<li>安装</li>
								<li>卸载</li>
								<li>自定义测试脚本</li>
							</ul>
						</li>
					</label>
					<div id="editmonkey" style="display:none;margin-left:20px">
						<div class="input-group input-group-sm">
							<span class="input-group-addon" id="action-count">设置默认动作数</span>
							<input type="text" name="actioncount" class="form-control" value="3000" aria-describedby="action-count">
						</div>
						<div class="input-group input-group-sm">
							<span class="input-group-addon" id="action-delay">动作间延迟(ms)</span>
							<input type="text" name="actiondelay" class="form-control" value="300" aria-describedby="action-delay">
						</div>
						<div class="input-group input-group-sm">
							<span class="input-group-addon" id="pct-touch">触摸事件百分比</span>
							<input type="text" name="touchpercent" class="form-control" value="40" aria-describedby="pct-touch">
						</div>
						<div class="input-group input-group-sm">
							<span class="input-group-addon" id="pct-motion">滑动事件百分比</span>
							<input type="text" name="motionpercent" class="form-control" value="20" aria-describedby="pct-motion">
						</div>
						<div class="input-group input-group-sm">
							<span class="input-group-addon" id="pct-pinchzoom">缩放事件百分比</span>
							<input type="text" name="pinchzoompercent" class="form-control" value="5" aria-describedby="pct-pinchzoom">
						</div>
						<div class="input-group input-group-sm">
							<span class="input-group-addon" id="pct-majornav">导航事件百分比</span>
							<input type="text" name="majornavpercent" class="form-control" value="10" aria-describedby="pct-majornav">
						</div>
						<div class="input-group input-group-sm">
							<span class="input-group-addon" id="pct-syskeys">系统事件百分比</span>
							<input type="text" name="syskeyspercent" class="form-control" value="15" aria-describedby="pct-syskeys">
						</div>
						<div class="input-group input-group-sm">
							<span class="input-group-addon" id="pct-appswitch">启动事件百分比</span>
							<input type="text" name="appswitchpercent" class="form-control" value="10" aria-describedby="pct-appswitch">
						</div>
					</div>
					<div id="choicecase" style="display:none">
						<div style="margin-left:20px">
							选择测试用例:
							<span>
								<select id="caseselect" onchange="showCaseOrder()" name="choicedCase" multiple="multiple">
								{% for case in cases %}
									<option name="case" value="{{ case.id }}"> [case] {{ case.caseName }}</option>
								{% endfor %}
								</select>
							</span>

							<div id="adjustcaseorder" style="padding:20px">

							</div>
						</div>
					</div>
				</div>

				<div style="padding:10px;">
					<div id="choiceddevice_head" class="panel panel-default">
						<div class="panel-heading">
							四、选择测试设备
						</div>
					</div>
					<div id="devicelistdiv" class="row" style="padding:10px">
					</div>
				</div>
			</form>
			<div style="padding:10px">
				<div class="panel panel-default">
					<div class="panel-heading">
						五、保存
					</div>
				</div>
				<a href="javascript:;" class="btn btn-primary" onclick="submitform()">保存</a>
			</div>
		</div>
	</div>

	<div class="tab-pane fade in active" id="jobdiv">
		<div class="panel-body">
			<table class="table table-striped">
				<thread>
					<tr>
						<th class="center">ID</th>
						<th>Name</th>
						<th class="center">Type</th>
						<th class="center">RelateCase</th>
						<th class="center">RelateDevice</th>
						<th class="center">CreatedTime</th>
						<th class="center">Result</th>
						<th class="center">Operation</th>
					</tr>
				</thread>
				<tbody>
				{% set cnt = 0 %}
				{% for job in jobs %}
					{% set cnt = cnt + 1 %}
					<tr id="joblist_{{ job.id }}" class="{% if job.status == 0 %}warning{% elif job.status == 1%}danger{% endif %}">
						<td class="center">{{ cnt }}</td>
						<td>{{ job.jobName }}</td>
						<td class="center">{% if job.jobType == 1 %} 兼容性测试 {% elif job.jobType == 2%} monkey性能测试 {% else %} 功能测试 {% endif %}</td>
						<td class="center">{% if job.jobType == 3 %}{{ job.caseorder }}{% else %}空{% endif %}</td>
						<td class="center">{{ job.relateDevices }}</td>
						<td class="center">{{ job.createdtime }}</td>
						<td class="center" id="result_{{ job.id }}">{% if job.result == 0 %}<img id="resultimg_{{ job.id }}" src="static/imgs/block.png" />{% elif job.result == -1 %}<img id="resultimg_{{ job.id }}" src="static/imgs/fail.png" />{% elif job.result == 1 %}<img id="resultimg_{{ job.id }}" src="static/imgs/success.png" />{% endif %}</td>
						<td class="center">
							<div class="btn-group">
								{% if job.status == 0 %}
									<button type="button" id="{{ job.id }}" data-loading-text="正在运行" autocomplete="off" class="btn btn-primary runbtn">立即运行</button>
									<a href="/viewreport/{{job.id}}" target="_blank" id="viewreport_{{ job.id }}" name="{{ job.id }}" class="btn btn-info viewreport" style="display:none">查看报告</a>
								{% elif job.status == 1 %}
									<button type="button" id="{{ job.id }}" class="btn btn-primary runbtn" disabled="disabled">正在运行</button>
									<a href="/viewreport/{{job.id}}" target="_blank" id="viewreport_{{ job.id }}" name="{{ job.id }}" class="btn btn-info viewreport" style="display:none">查看报告</a>
								{% else %}
									<a href="/viewreport/{{job.id}}" target="_blank" id="viewreport_{{ job.id }}" name="{{ job.id }}" class="btn btn-info viewreport">查看报告</a>
									<button type="button" id="{{ job.id }}" data-loading-text="正在运行" autocomplete="off" class="btn btn-primary runbtn" style="display:none">立即运行</button>
								{% endif %}
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu">
									{% if job.status == 2 %}
									<li id="rerun_{{ job.id }}"><a class="rerun" onclick="rerun({{ job.id }})">重新运行</a></li>
									{% endif %}
									<li id="del_{{ job.id }}"><a href="/deljob/{{ job.id }}">删除</a></li>
								</ul>
							</div>
						</td> 
					</tr>
				{% endfor %}
				</tbody>
			</table>

		</div>
	</div>

</div>

<script>
	$(function(){

		interval = setInterval("resizeFrame()",50);
		sessionStorage.tab_choiced = "";

		$('#caseselect').multiselect({
			includeSelectAllOption: true,
			numberDisplayed: 2,
			buttonWidth: '250px'
		});

		$("#upload_apk").change(function(){
			$("#uploadapk_head").removeClass("panel-danger").addClass("panel-default")
		})

		var requested = false;

		$(".testtype").click(function(){
			if(this.id == 'functional'){
				$("#testtype_head").removeClass("panel-danger").addClass("panel-default")
				$("#editmonkey").hide()
				$("#choicecase").show()
			}else if(this.id == "stabilization"){
				$("#testtype_head").removeClass("panel-danger").addClass("panel-default")
				$("#choicecase").hide()
				$("#editmonkey").show()
			}else{
				$("#choicecase").hide()
				$("#editmonkey").hide()
				$("#testtype_head").removeClass("panel-danger").addClass("panel-default")
			}
		})

		getdevices();

		getStatus();

		{% for message in get_flashed_messages() %}
			parent.layer.msg("{{message}}")
		{% endfor %}

		$(".runbtn").click(function(){
			jobid = this.id
			var $btn = $(this).button("loading")
			$(".runbtn").attr("disabled","disabled")
			$.ajax({
				url:"/runjob/"+jobid,
				type:"post",
				async:true,
				error:function(request){
					console.log(request.status)
				},
				success:function(data){
					if(!data.result){
						parent.layer.msg(data.info)
					}else{
						$("#joblist_"+jobid).removeClass("info").addClass("danger")
						parent.layer.msg("正在运行")
					}
				}
			})
		})

		$(".testtype").click(function(){
			$(".testtype").removeClass("choiceditem")
			$(this).addClass("choiceditem")
		})
	})

	function showchange(id){
		if($("#choiceddevice_head").hasClass('panel-danger')){
			$("#choiceddevice_head").removeClass("panel-danger").addClass("panel-default")
		}
		if($("#thumbnail_"+id).hasClass("choiceditem")){
			$("#thumbnail_"+id).removeClass("choiceditem")
		}else{
			$("#thumbnail_"+id).addClass("choiceditem")
		}
	}

	function submitform(){
		parent.window.scrollTo(0,0);
		var checkpass = true
		var testtype = $('input:radio[name="testType"]:checked').val();
		var choiceddevice = $('input:checkbox[name="choicedDevice"]:checked').val()

		var choicedcase = new Array();
		$("option[name='case']:selected").each(function(index,e){
			choicedcase[index] = $(e).val();
		})

		if(!choiceddevice){
			$("#choiceddevice_head").removeClass("panel-default").addClass("panel-danger")
			layer.msg('请选择设备', {icon: 2})
			checkpass = false
		}else{
			$("#choiceddevice_head").removeClass("panel-danger").addClass("panel-default")
		}
		if(!testtype){
			$("#testtype_head").removeClass("panel-default").addClass("panel-danger")
			layer.msg('请选择测试类型', {icon: 2})
			checkpass = false
		}else{
			if(testtype ==3 && choicedcase.length == 0){
				checkpass = false
				layer.msg("请选择测试用例",{icon: 2})
			}else{
				$("#testtype_head").removeClass("panel-danger").addClass("panel-default")
			}
		}
		if($.trim($("#upload_apk").val())==''){
			$("#uploadapk_head").removeClass("panel-default").addClass("panel-danger")
			layer.msg('请先上传apk', {icon: 2})
			checkpass = false
		}else{
			$("#uploadapk_head").removeClass("panel-danger").addClass("panel-default")
		}

		if(checkpass){
			layer.msg("正在创建任务..")
			order = localStorage.caseorder
			$("#newjobform").attr("action","/newjob?order="+order)
			$("#newjobform").submit()
		}
	}

	function getStatus(){
		var source = new EventSource("/getStatus");
		source.onmessage = function(event){
			var resp = JSON.parse(event.data);
			if(resp.jobid){
				if(resp.status == 1){
					$("#resultimg_"+resp.jobid).attr("src","static/imgs/block.png");
					$(".runbtn").attr("disabled","disabled")
				}else if(resp.status == 2){
					$("#"+resp.jobid).hide()
					$("#viewreport_"+resp.jobid).show()
					$(".runbtn").removeAttr("disabled")
					$("#joblist_"+resp.jobid).removeClass("danger").addClass("warning")
					if(resp.result == -1){
						$("#result_"+resp.jobid).empty().append("<img id='resultimg_"+resp.jobid+"' src='static/imgs/fail.png' />")
					}else{
						$("#result_"+resp.jobid).empty().append("<img id='resultimg_"+resp.jobid+"' src='static/imgs/success.png' />")
					}
					parent.layer.msg("运行完成")
					$("#del_"+resp.jobid).before('<li id="rerun_'+resp.jobid+'"><a href="javascript:;" onclick="rerun('+resp.jobid+')">重新运行</a></li>')
				}else{

				}
			}else{

			}
		}
	}

	function getdevices() {
		$.ajax({
			url:"/getdevices",
			type:"get",
			error:function(request){
				console.log(request.status)
			},
			success:function(data){
				$("#devicelistdiv").append(data)
			}
		})
	}

	function choiced(div) {
		$("#"+sessionStorage.tab_choiced).removeClass("active")
		$("#"+div).addClass("active")
	}

	function rerun(id){
		$("#rerun_"+id).remove()
		$("#viewreport_"+id).hide()
		$("#resultimg_"+id).attr("src","static/imgs/block.png");
		$("#"+id).button("reset").show().click()
	}

	function showCaseOrder(){
		parent.layer.load(2);
		$("#adjustcaseorder").empty();

		var choicedcase = new Array();
		$("option[name='case']:selected").each(function(index,e){
			choicedcase[index] = $(e).val();
		})

		$.ajax({
			url:"/getcases",
			type:"post",
			data:{"cases":choicedcase},
			error:function(request){
				parent.layer.msg(request.status)
			},
			success:function(data){
				$("#adjustcaseorder").append(data)
				Sortable.create(document.getElementById("caselist"), {
					handle: '.list-group-item',
					sort:true,
					delay: 0,
					dataIdAttr: 'case-id',
					animation: 150,
					store: {
						get: function (sortable) {
							var order = localStorage.getItem("caseorder");
							localStorage.clear()
							localStorage.setItem("caseorder",sortable.toArray().join('|'))
							return order ? order.split('|') : [];
						},
						set: function (sortable) {
							var order = sortable.toArray();
							localStorage.setItem("caseorder", order.join('|'));
						}
					}
				});
			}
		})
		parent.layer.closeAll('loading');
	}
</script>

</body>
</html>