<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}

<html>
<head>
  	<meta charset="UTF-8">
  	<link type="image/x-icon" rel="shortcut icon" href="/static/imgs/favicon.ico" />
  	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-multiselect.css">
  	<script src="/static/jquery/jquery.min.js"></script>
  	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<title>Login</title>
</head>

<body>
<div class="container">
    <div class="page-header">
        <h2 class="ng-binding">用户登录</h2>
			{% for message in get_flashed_messages() %}
				{% if message.type == 'error' %}
					<div class="alert alert-danger alert-dismissible fade in" role="alert">
				{% else %}
					<div class="alert alert-success alert-dismissible fade in" role="alert">
				{% endif %}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h5>
							{{ message.message }}
						</h5>
					</div>
			{% endfor %}
    </div>

	<div class="loginForm">
		{{ wtf.quick_form(form) }}
		<div style="text-align:right">
			<a href="/register">没有账号?</a>
		</div>
	</div>
</body>
