<!DOCTYPE html>
<html>
<head lang="en">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<script src="/static/jquery/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/common.js"></script>
	<script src="/static/js/layer.js"></script>
	<style>
		.list-group-item{
			#background-color:green;
			height:150px;
			width:180px;
		}
		.testtype {
			width:auto;
			margin-left:10px;
		}
	</style>
</head>
<body>
<form action="/newjob" id="newjobform" method="post" enctype="multipart/form-data">
	<div style="padding:10px">
		<div id="uploadapk_head" class="panel panel-default">
			<div class="panel-heading">
				一、上传APK文件
			</div>
		</div>
		<input type="file" name="file" id="upload_apk" accept="apk" class="form-control" required />
	</div>

	<div style="padding:10px">
		<div class="panel panel-default">
			<div class="panel-heading">
				二、任务信息
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1" style="text-align: center;">
				<label>任务名称：</label>
			</div>
			<div class="col-sm-3">
				<input type="text" name="jobName" class="form-control" value="wenba_automation_2016" required/>
			</div>
		</div>
		
	</div>
	<div style="padding:10px">
		<div id="testtype_head" class="panel panel-default">
			<div class="panel-heading">
				三、选择测试类型
			</div>
		</div>
		<label id="compatibility" class="testtype">
			<li class="list-group-item">
				<input type="radio" name="testType" value="1" style="align:left"><br>
				兼容性测试
				<ul>
					<li>安装</li>
					<li>卸载</li>
					<li>调起</li>
				</ul>
			</li>
		</label>
		<label id="stabilization" class="testtype">
			<li class="list-group-item">
				<input type="radio" name="testType" value="2" style="align:left"><br>
				稳定性测试
				<ul>
					<li>安装</li>
					<li>卸载</li>
					<li>monkey测试</li>
				</ul>
			</li>
		</label>
		<label id="functional" class="testtype">
			<li class="list-group-item">
				<input type="radio" name="testType" value="3" style="align:left"><br>
				功能性测试
				<ul>
					<li>安装</li>
					<li>卸载</li>
					<li>自定义测试脚本</li>
				</ul>
			</li>
		</label>
		<div id="choicecase" style="display:none">
			选择测试用例
			<table class="table table-bordered table-striped">
				<colgroup>
					<col class="col-xs-1">
					<col class="col-xs-3">
					<col class="col-xs-8">
				</colgroup>
				<thread>
					<tr>
						<th>勾选</th>
						<th>用例名</th>
						<th>用例描述</th>
					</tr>
				</thread>
				<tbody id="casebody">
				</tbody>
			</table>
		</div>
	</div>

	<div style="padding:10px;">
		<div id="choiceddevice_head" class="panel panel-default">
			<div class="panel-heading">
				四、选择测试设备
			</div>
		</div>
		<div id="devicelistdiv" class="row">
		</div>
	</div>
</form>
	<div style="padding:10px">
		<div class="panel panel-default">
			<div class="panel-heading">
				五、保存
			</div>
		</div>
		<button class="btn btn-primary" onclick="submitform()">保存</button>
	</div>
</body>
<script>
	$(function(){
		$.ajax({
			url:"/getdevices",
			type:"get",
			error:function(request){
				console.log(request.status)
			},
			success:function(data){
				$("#devicelistdiv").append(data)
				resizeFrame()
			}
		})

		$("#upload_apk").change(function(){
			$("#uploadapk_head").removeClass("panel-danger").addClass("panel-default")
		})

		var requested = false

		$(".testtype").click(function(){
			if(this.id == 'functional'){
				$("#testtype_head").removeClass("panel-danger").addClass("panel-default")
				$("#choicecase").show()
				if(requested){
					console.log("requested")
				}else{
					$.ajax({
						url:"/getcases",
						type:"get",
						async:false,
						error:function(request){
							console.log(request.status)
						},
						success:function(data){
							$("#casebody").append(data)
							requested = true
						}
					})
				}
			}else{
				$("#choicecase").hide()
				$("#testtype_head").removeClass("panel-danger").addClass("panel-default")
			}
			resizeFrame()
		})

	})

	function submitform(){
		var checkpass = true
		var testtype = $('input:radio[name="testType"]:checked').val();
		var choiceddevice = $('input:checkbox[name="choicedDevice"]:checked').val()
		if(!choiceddevice){
			$("#choiceddevice_head").removeClass("panel-default").addClass("panel-danger")
			layer.msg('请选择设备', {icon: 2})
			checkpass = false
		}
		if(!testtype){
			$("#testtype_head").removeClass("panel-default").addClass("panel-danger")
			layer.msg('请选择测试类型', {icon: 2})
			checkpass = false
		}
		if($.trim($("#upload_apk").val())==''){
			$("#uploadapk_head").removeClass("panel-default").addClass("panel-danger")
			layer.msg('请先上传apk', {icon: 2})
			checkpass = false
		}
		if(checkpass){
			$("#newjobform").submit()
		}
	}
</script>
</html>