<!DOCTYPE html>
<html>
<head>
	<title>Test Report</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/static/bootstrap/css/bootstrap.min.css" rel='stylesheet'>
	<link href="/static/css/defender.css" rel='stylesheet'>
	<link href="/static/codemirror/monokai.css" rel="stylesheet">
	<link href="/static/codemirror/codemirror.css" rel="stylesheet">
	<script src="/static/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/codemirror/codemirror.js"></script>
	<script src="/static/codemirror/placeholder.js"></script>
	<script src="/static/codemirror/autorefresh.js"></script>
	<script src="/static/codemirror/sublime.js"></script>
	<script src="/static/codemirror/python.js"></script>
	<script src="/static/js/defender.js"></script>
</head>
<body>
	<!-- MODAL BEGIN -->
	<div id="reportmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ReportModal">
		<div class="modal-dialog" style="width:100%">
			<div class="modal-content">
				<div class="modal-header" id="report_header"></div>
				<div class="modal-body" id="report_body">
					<textarea id="report_area" name="report_area" placeholder=".."></textarea>
                    <script>
                        var logviewer = CodeMirror.fromTextArea(document.getElementById("report_area"), {
                            lineNumbers: true,
                            mode: "python",
                            theme: "monokai"
                        });
                        logviewer.setSize('100%',1000);
                    </script>
				</div>
				<div class="modal-footer" style="text-align:center"><button class="btn btn-info" data-dismiss="modal">Close</button></div>
			</div>
		</div>
	</div>
	<div id="screenshotmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="screenshotmodal">
		<div class="modal-dialog">
			<div style="text-align:center;">
				<ul id="screenshot_body">
				</ul>
			</div>
		</div>
	</div>
	<!-- MODAL END -->
	<script>
		var datas = new Array();
	</script>
	<div class="header" id="home">
		<div class="container">
			<div class="navigation">
				<span>用例数量:{{ casecount }} </span>
				<span>设备数量:{{ devicecount }}</span>
				<span>任务总数:{{ totalcount }}</span>
				<span>通过数量:{{ success }}</span>
			</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>	

	 <div class="banner">
	 	<div class="col-md-12">
	 		<div class="banner-main">
 				<h1>
					{% if not failed %}
					<label class="label label-success" style="margin-left:20px">
					  All Passed !
					</label>
					{% else %}
					<label class="label label-danger" style="margin-left:20px">
					  {{ failed }} failed !
					</label>
					{% endif %}
				</h1>
				
				{% if failedCases %}
				<div style="margin-top:20px;width:100%" id="failed_div" class="panel panel-warning">
					<div class="panel-heading">失败用例</div>
					<div>
						<table class="table table-striped">
							<tr style="width:100%">
								<th style="width:15%">{% if jobtype==3 %}case_device{% else %}device{% endif %}</th>
								<th class="needcenter" style="width:25%">{% if jobtype==3 %}desc{% elif jobtype==2 %}actionCount{% else %}desc{% endif %}</th>
								<th class="needcenter" style="width:10%">runtime</th>
								<th class="needcenter" style="width:25%">errorMsg</th>
								<th class="needcenter" style="width:15%">viewLog</th>
								<th class="needcenter" style="width:10%">viewscreenshots</th>
							</tr>
							{% for case in failedCases %}
								<tr>
									<td>{% if jobtype==3 %}{{ case.casename }}{% else %} {{ case.device.deviceName }} {% endif %}</td>
									<td class="needcenter" >{% if jobtype == 3%}{{ case.casedesc }}{% elif jobtype == 2%}{{ case.actionCount }}{% else %}安装/卸载/调起 测试{% endif %}</td>
									<td class="needcenter">{{ case.runtime }}</td>
									<td>{{ case.errorMsg }}</td>
									<td class="needcenter">
										{% if jobtype == 3 %}
											<a href="javascript:;" onclick="viewAppiumlog('{{ case.casename }}')"  data-toggle="modal" data-target="#reportmodal">Appium</a>
											<a href="javascript:;" onclick="viewCaselog('{{ case.casename }}')"  data-toggle="modal" data-target="#reportmodal">Case</a>
										{% elif jobtype == 2 %}
											<a href="javascript:;" onclick="viewMonkeylog('{{ case.device.deviceName }}')"  data-toggle="modal" data-target="#reportmodal">Case</a>
										{% else %}
											<a href="javascript:;" onclick="viewLog('{{ case.device.deviceName }}')"  data-toggle="modal" data-target="#reportmodal">Case</a>
										{% endif %}
									</td>
									<td class="needcenter">
										{% if case.screenshotimgs %}
											{% if jobtype == 3 %}
												<a href="javascript:;" onclick="viewScreenshots('{{ case.casename }}')" data-toggle="modal" data-target="#screenshotmodal">查看</a>
											{% else %}
												<a href="javascript:;" onclick="viewScreenshots('{{ case.device.deviceName }}')" data-toggle="modal" data-target="#screenshotmodal">查看</a>
											{% endif %}
										{% else %}
											没有截图
										{% endif %}
									</td>
									<script>
										{% if jobtype==3 %}
											datas["{{ case.casename }}_appiumlog"] = {{ case.appiumlogcontent|safe }}
											datas["{{ case.casename }}_caselog"] = {{ case.caselogcontent|safe }}
											datas["{{ case.casename }}_screenshots"] = {{ case.screenshotimgs|safe }}
										{% else %}
											datas["{{ case.device.deviceName }}_logcontents"] = {{ case.logcontents|safe }}
											datas["{{ case.device.deviceName }}_screenshots"] = {{ case.screenshotimgs|safe }}
										{% endif %}
									</script>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
				{% endif %}
				{% if successCases %}
				<div style="margin-top:20px;width:100%" id="success_div" class="panel panel-success">
					<div class="panel-heading">成功用例</div>
					<div>
						<table class="table table-striped">
							<tr>
								<th style="width:20%">{% if jobtype==3 %}case_device{% else %}device{% endif %}</th>
								<th class="needcenter" style="width:30%">{% if jobtype==3 %}desc{% elif jobtype==2 %}actionCount{% else %}desc{% endif %}</th>
								<th class="needcenter" style="width:15%">runtime</th>
								<th class="needcenter" style="width:20%">viewLog</th>
								<th class="needcenter" style="width:15%">viewscreenshots</th>
							</tr>
							{% for case in successCases %}
								<tr>
									<td>{% if jobtype==3 %}{{ case.casename }}{% else %} {{ case.device.deviceName }} {% endif %}</td>
									<td class="needcenter">{% if jobtype == 3%}{{ case.casedesc }}{% elif jobtype == 2%}{{ case.actionCount }}{% else %}安装/卸载/调起 测试{% endif %}</td>
									<td class="needcenter">{{ case.runtime }}</td>
									<td class="needcenter">
										{% if jobtype == 3 %}
											<a href="javascript:;" onclick="viewAppiumlog('{{ case.casename }}')"  data-toggle="modal" data-target="#reportmodal">Appium</a>
											<a href="javascript:;" onclick="viewCaselog('{{ case.casename }}')"  data-toggle="modal" data-target="#reportmodal">Case</a>
										{% elif jobtype == 2 %}
											<a href="javascript:;" onclick="viewMonkeylog('{{ case.device.deviceName }}')"  data-toggle="modal" data-target="#reportmodal">MonkeyLog</a>
										{% else %}
											<a href="javascript:;" onclick="viewLog('{{ case.device.deviceName }}')"  data-toggle="modal" data-target="#reportmodal">Log</a>
										{% endif %}
									</td>
									<td class="needcenter">
										{% if case.screenshotimgs %}
											{% if jobtype == 3 %}
												<a href="javascript:;" onclick="viewScreenshots('{{ case.casename }}')" data-toggle="modal" data-target="#screenshotmodal">查看</a>
											{% else %}
												<a href="javascript:;" onclick="viewScreenshots('{{ case.device.deviceName }}')" data-toggle="modal" data-target="#screenshotmodal">查看</a>
											{% endif %}
										{% else %}
											没有截图
										{% endif %}
									</td>
									<script>
										{% if jobtype==3 %}
											datas["{{ case.casename }}_appiumlog"] = {{ case.appiumlogcontent|safe }}
											datas["{{ case.casename }}_caselog"] = {{ case.caselogcontent|safe }}
											datas["{{ case.casename }}_screenshots"] = {{ case.screenshotimgs|safe }}
										{% else %}
											datas["{{ case.device.deviceName }}_logcontents"] = {{ case.logcontents|safe }}
											datas["{{ case.device.deviceName }}_screenshots"] = {{ case.screenshotimgs|safe }}
										{% endif %}
									</script>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
				{% endif %}
	 		</div>
	 	</div>
	 </div>
</body>

</html>