<!DOCTYPE html>
<html>
<head lang="en">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link href="/static/codemirror/monokai.css" rel="stylesheet">
	<link href="/static/codemirror/codemirror.css" rel="stylesheet">
  	<script src="/static/jquery/jquery.min.js"></script>
  	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/codemirror/codemirror.js"></script>
	<script src="/static/codemirror/placeholder.js"></script>
	<script src="/static/codemirror/autorefresh.js"></script>
	<script src="/static/codemirror/sublime.js"></script>
	<script src="/static/codemirror/python.js"></script>
  	<script src="/static/js/common.js"></script>
  	<script src="/static/js/layer.js"></script>
</head>
<body>
<ul id="myTab" class="nav nav-tabs">
	<li>
		<a href="#writecasediv" onclick="choiced('writecasediv')" data-toggle="tab">写测试用例</a>
	</li>
	<li class="active">
		<a href="#casediv" onclick="choiced('casediv')" data-toggle="tab">所有测试用例</a>
	</li>
	<li>
		<a href="#actionflowdiv" onclick="choiced('actionflowdiv')" data-toggle="tab">所有动作流</a>
	</li>
	<li>
		<a href="#elementdiv" onclick="choiced('elementdiv')" data-toggle="tab">所有元素</a>
	</li>
	<li>
		<a href="#nomaldatadiv" onclick="choiced('nomaldatadiv')" data-toggle="tab">通用测试数据</a>
	</li>
	<li>
		<a href="#conflictdatadiv" onclick="choiced('conflictdatadiv')" data-toggle="tab">冲突测试数据</a>
	</li>
</ul>

<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade" id="writecasediv">
		<div class="panel-body">
			<form id="writecaseform">
				<ul class="list-inline">
					<li><label>用例名称：</label></li>
					<li><input id="casename" name="casename" type="text" class="form-control"/></li>
					<li><label>用例描述：</label></li>
					<li><input id="casedesc" name="casedesc" type="text" class="form-control"/></li>
					<li><a href="javascript:;" class="btn btn-info" id="viewapi">查看api</a></li>
					<li><a href="/mirror" class="btn btn-info" target="_blank">打开模拟器</a></li>
					<li><a href="javascript:;" id="submitwritecase" class="btn form-control btn-success">保存</a></li>
					<input type="reset" id="reset" style="display:none"/>
				</ul>
				<hr>
				<div>
					<textarea name="casecontent" id="casecontent"></textarea>
					<script>
						var casecode = CodeMirror.fromTextArea(document.getElementById("casecontent"), {
							lineNumbers: true,
							indentUnit: 4,
							mode: "python",
							theme: "monokai"
						});
						casecode.setSize('100%',500);
						setTimeout(function(){
							casecode.refresh();
						},200);
						casecode.refresh();
					</script>
				</div>
			</form>
		</div>
	</div>

	<div class="tab-pane fade in active" id="casediv">
		<div class="panel-header">

		</div>
		<div class="panel-body">
			{% if testcases %}
			<table class="table col-lg-12">
				<thead>
					<th class="col-lg-1">用例ID</th>
					<th class="col-lg-2">用例名称</th>
					<th class="col-lg-6">用例描述</th>
					<th class="col-lg-3">操作</th>
				</thead>
				<tbody>
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
						{% for case in testcases %}
							<tr>
								<td >{{ case.id }}</td>
								<td >
									<a role="button" class="showcase" id="{{ case.id }}" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{case.id}}" aria-expanded="false" aria-controls="collapseOne">{{ case.caseName }}</a></td>
								<td>用例描述：{{ case.caseDesc }}</td>
								<td>
									<a href="javascript:;" id="pass_{{ case.id }}" onclick="passcase({{ case.id }})" class="btn btn-success" {% if case.status == 0 %}{% elif case.status == 1 %}style="display:none"{% endif %}>设置通过</a>
									<a href="javascript:;" id="canclepass_{{ case.id }}" onclick="canclepasscase({{ case.id }})" class="btn btn-warning" {% if case.status == 0 %}style="display:none"{% elif case.status == 1 %}{% endif %}>取消通过</a>
									<a href="javascript:;" id="delcase_{{ case.id }}" class="btn btn-danger delcase">删除</a>
								</td>
								<div id="collapse_{{ case.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{case.id}}">
									<div class="panel-body">
										<div>
											<form id="editcaseform_{{ case.id }}">
												<ul class="list-inline">
													<li><label>用例名称：</label></li>
													<li><input name="casename" type="text" class="form-control" value="{{case.caseName}}" required /></li>
													<li><label>用例描述：</label></li>
													<li><input name="casedesc" type="text" class="form-control" value="{{case.caseDesc}}" required/></li>
													<li>
														<a href="javascript:;" class="btn btn-info" onclick="parent.showapi()">查看API</a>
														<a href="/mirror" class="btn btn-info" target="_blank">打开模拟器</a>
													</li>
													<li><a href="javascript:;" onclick="saveedit({{case.id}})" class="btn btn-success">保存</a></li>
												</ul>
												<textarea id="casecontent_{{ case.id }}" name="casecontent" width="1000px" height="400px">{{ case.caseContent }}</textarea>
												<script>
													var mirror_{{ case.id }} = CodeMirror.fromTextArea(document.getElementById("casecontent_{{ case.id }}"), {
														lineNumbers: true,
														indentUnit: 4,
														mode: "python",
														theme: "monokai"
													});
													mirror_{{ case.id }}.setSize('100%',500);
												</script>
											</form>
										</div>
									</div>
								</div>
							</tr>
						{% endfor %}
					</div>
				</tbody>
			</table>
			{% else %}
				<label>没有找到用例</label>
			{% endif %}
		</div>
	</div>

	<div class="tab-pane fade" id="actionflowdiv">
	</div>

	<div class="tab-pane fade" id="elementdiv">
	</div>

	<div class="tab-pane fade" id="nomaldatadiv">
	</div>

	<div class="tab-pane fade" id="conflictdatadiv">
	</div>
</div>


</body>
<script>
	$(function(){
		{% for message in get_flashed_messages() %}
			parent.layer.msg("{{message}}")
		{% endfor %}
		sessionStorage.tab_choiced = "";
		interval = setInterval("resizeFrame()",50)

		$(".showcase").click(function(){
			mirror = eval("mirror_"+this.id)
			setTimeout(function(){
				mirror.refresh();
			},200);
			mirror.refresh();
		})

		$(".delcase").click(function(){
			var id = this.id.substring(8,this.id.length)
			parent.layer.confirm("确定删除吗？",{btn:['确定','取消']},function(){
				$.get("/delcase/"+id,function(data){
					if(data.result){
						parent.layer.msg('删除成功', {icon: 6})
						currentCount = parseInt($(window.parent.document.getElementById('casecount')).html());
						$(window.parent.document.getElementById('casecount')).html(currentCount-1);
						$("#case_panel_"+id).remove();
					}else{
						parent.layer.msg('删除失败:'+data.errorMsg, {icon: 5})
					}
				})
				
			},function(){
				console.log('取消')
			})
		})

		$("#upload_submit").click(function(){
			$.ajax({
				url:"/uploadcase",
				type:"post",
				data:$("#uploadcaseform").serialize(),
				success:function(data){
					parent.layer.msg(data)
				}
			})
		})

		$("#submitwritecase").click(function(){
			if($("#casename").val() && $("#casedesc").val()){
				$("#casecontent").val(casecode.getDoc().getValue())
				$.ajax({
					url:"/writecase",
					type:"post",
					data:$("#writecaseform").serialize(),
					success:function(data){
						if(data.result){
							parent.layer.msg("新增成功")
							$("#reset").click();
							casecode.getDoc().setValue("");
							casecode.refresh();
							currentCount = parseInt($(window.parent.document.getElementById('casecount')).html());
							$(window.parent.document.getElementById('casecount')).html(currentCount+1);
							window.location.reload(true);
						}else{
							parent.layer.msg("新增失败:"+data.errorMsg)
						}
					}
				})
			}else{
				parent.layer.msg("用例名称/描述不能为空")
			}

		})


		$("#viewapi").click(function(){
			parent.showapi();
		})

		$("#openelements,#closeelements").click(function(){
			$("#openelements").toggle()
			$("#closeelements").toggle()
		})

		$("#opentestdatas,#closetestdatas").click(function(){
			$("#opentestdatas").toggle()
			$("#closetestdatas").toggle()
		})

		$("#openconflictdatas,#closeconflictdatas").click(function(){
			$("#openconflictdatas").toggle()
			$("#closeconflictdatas").toggle()
		})

	})

	function choiced(div) {
		$("#"+sessionStorage.tab_choiced).removeClass("active")
		$("#"+div).addClass("active")
		switch(div){
			case "elementdiv":
				if(!document.getElementById("caseelements")){
					$("#elementdiv").append('<div class="panel-body"><iframe id="caseelements" src="/elements" frameborder="no" width="100%" height="1500px"></iframe></div>');
				}
				break;
			case "nomaldatadiv":
				if(!document.getElementById("nomaltestdatas")){
					$("#nomaldatadiv").append('<div class="panel-body"><iframe id="nomaltestdatas" src="/testdatas" frameborder="no" width="100%" height="1500px"></iframe></div>');
				}
				
				break;
			case "conflictdatadiv":
				if(!document.getElementById("conflicttestdatas")){
					$("#conflictdatadiv").append('<div class="panel-body"><iframe id="conflicttestdatas" src="/conflictdatas" frameborder="no" width="100%" height="1500px"></iframe></div>');
				}
				break;
			case "actionflowdiv":
				if(!document.getElementById("actionflows")){
					$("#actionflowdiv").append('<div class="panel-body"><iframe id="actionflows" src="/actionflows" frameborder="no" width="100%" height="1500px"></iframe></div>');
				}
				break;
		}
	}

	function passcase(id){
		$.ajax({
			url:"/passcase/"+id,
			success:function(data){
				if(data.result){
					$("#pass_"+id).toggle()
					$("#canclepass_"+id).toggle()
					parent.layer.msg("设置成功")
				}else{
					parent.layer.msg("设置失败:"+data.errorMsg)
				}
			}
		})
	}

	function canclepasscase(id){
		$.ajax({
			url:"/canclepasscase/"+id,
			success:function(data){
				if(data.result){
					$("#pass_"+id).toggle()
					$("#canclepass_"+id).toggle()
					parent.layer.msg("取消成功")
				}else{
					parent.layer.msg("取消失败:"+data.errorMsg)
				}
			}
		})
	}

	function saveedit(id){
		mirror = eval("mirror_"+id)
		$("#casecontent_"+id).val(mirror.getDoc().getValue())
		$.ajax({
			url:"/editcase/"+id,
			type:"post",
			data:$("#editcaseform_"+id).serialize(),
			success:function(data){
				if(data.result){
					parent.parent.layer.msg("保存成功")
				}else{
					parent.parent.layer.msg("保存失败:"+data.errorMsg,{icon: 5})
				}
			}
		})
	}
</script>
</html>